.course-container {
  border-radius: 22px;
  background: #f8f8f8;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  width: 95%;
  /* height: 2687px; */
  margin: auto;
  font-family: Work Sans;
  margin-top: 30px;
}

.course-heading p {
  font-family: Work Sans;
  font-size: 35px;
  padding-top: 30px;
  margin: 20px;
  font-weight: 1000px !important;
  word-break: break-all;
}

.course-content p {
  font-size: 25px;
  margin: 20px;
  word-break: break-all;
}

table {
  width: 98%;
  margin: auto;
  height: 50px;
}

.course-thead {
  /* column-gap: 100px; */
  padding-right: 200px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: white;
  height: 50px;
  font-size: 25px;
  width: 100vh;
  border: 1px solid black;
  padding-bottom: 10px;
  text-align: left;
}

.course-tcontent {
  background: #edebeb;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  /* height: 50px;    */
  margin-bottom: 1px;
}

.course-tcontent td {
  padding: 14px 20px;
}

.course-thead th {
  padding-left: 20px;
}

.course-content-2 {
  color: #000;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
.course-cours {
  width: 98%;
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  height: auto;
}

.course-cours h4 {
  padding: 20px;
}
.course-cours p {
  padding: 20px;
  margin-top: -30px;
  font-size: 22px;
}

.course-btn {
  color: #61a8f0;
  font-size: 25px;
  margin-top: -10px;
  text-align: right;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 50px;
}

.course-NavLink {
  text-decoration: none;
}

.course-courseDetails {
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  width: 98%;
  margin: auto;


}
.course-courseDetails-2 {
  border-radius: 20px;
  background: #f0f0f0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  width: 98%;
  margin: auto;
  margin-top: 20px;
}

.course-head1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.course-head1 p{
    padding: 20px;
    font-size: 25px;
    margin-bottom: -20px;
  font-weight: 600px;
}
.course-fees{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: space-between;
    font-size: 20px;
  }

  .course-fees-btn{
    border-radius: 10px;
    background: #61A8F0;
    color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(97, 168, 240, 0.25);
    padding: 10px  30px  10px 30px ;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    
}
.course-fees-btn-2{
    border-radius: 10px;
    background: #61A8F0;
    color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(97, 168, 240, 0.25);
    padding: 10px  30px  10px 30px ;
    font-size: 16px;
    border: none;
    margin: 20px;
    cursor: pointer;
    margin-right: 5px;
    /* margin-top: ; */
}

@media screen and (max-width: 480px ){
  .course-container {
    border-radius: 22px;
    background: #f8f8f8;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    /* height: 2687px; */
    margin: auto;
    font-family: Work Sans;
    margin-top: 30px;
  }
}



@media only screen and (max-width:767.98px) {
  .course-thead{
    font-size: 20px;
  }
  .course-tcontent {
    font-size: 16px;
  }
  .course-heading p {
    font-size: 25px;
    font-weight: bold;
  }
  .course-content p {
    font-size: 20px;

  }
  }