/* Reset default styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Albert Sans', sans-serif;

}

a {
    text-decoration: none;
    color: #000;
}

/* Base styles for cards */
.banner img {
    max-height: 500px;
    width: 100%;
    padding-bottom: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F1BBBB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 80%;
    max-width: 121px;
    height: 213px;
    flex-shrink: 0;
    font-size: 10px;
}

.card:hover {
    animation: crescendo 1.1s alternate infinite ease-in-out;
}

.cardArea {
    display: flex;
    justify-content: center;
}

.cardText h4 {
    font-size: 1vw;
    word-break: break-all;
    text-align: center;
}

.cardIcons {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}


.cardImg img {
    height: 110px;
    border-radius: 15px;
    padding-bottom: 10px;
}

.cardLocation,
.cardStar p {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.heroBox {
    border-radius: 20px;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px 0px #9ec8e9 inset;
    width: 100%;
    max-width: 1400px;
    height: 472px;
    flex-shrink: 0;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
}

.heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heroImg p {
    height: 26px;
    flex-shrink: 0;
    color: #AEAEAE;
    /* font-family: Work Sans; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 226px;
    left: 482px;
}

.heroImg img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    margin-top: 190px;
}

.heroImg img:hover {
    animation: crescendo 1.1s alternate infinite ease-in-out;
}

.heroText h4 {
    color: #000;
    text-shadow: 0px 4px 10px rgba(15, 17, 88, 0.50);
    /* font-family: Work Sans; */
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    flex-shrink: 0;
}

.heroUniversities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.heroButtonss {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    /* gap: 19px; */
}

.heroButtonss button {
    width: 100px;
    border: none;
    outline: none;
    height: 41px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(52, 143, 214, 0.50);
}

.UniversityCard {
    width: 200px;
    height: 238px;
    position: relative;
    border-radius: 22px;
    background: #EEE;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
}

.the-card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s case;
    background: #03446A;
    border-radius: 15px;
}

.UniversityCards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;

}
.universityimg img{
    height: 100px;
}

/* card */
.alice-carousel__stage-item {
height: 150px !important;
word-break: break-all;

}

.maincontainer {
    position: relative;
    width: 200px;
    height: 238px;
    position: relative;
    border-radius: 22px;
    background: #EEE;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
}
.alice-carousel__stage-item {
    /* height: 400px !important; */
}
.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background: #eee;
    border-radius: 22px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
}

.thecard:hover {
    transform: rotatey(180deg);

}

.thefront {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #eee;
    color: #333;
    border-radius: 22px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #eee;
    border-radius: 22px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25) inset;
    color: #333;
    transform: rotatey(180deg);
    padding: 10px 10px 10px 10px;

}

.theback-p1 {
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    word-break: break-all;
    text-decoration: underline;
}

.theback-p2 {
    word-break: break-all;

}



/* card */
.thefront img {
    border-radius: 20px;
    height: 100px;
}

.thefront h4 {
    word-break: break-all;
    margin: 5px;
}

.universityimg {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}
.universityimg img{
    height: 100px;
}
.unicard {
    margin-bottom: 40px;
}

.latesText h4 {
    flex-shrink: 0;
    color: #000;
    text-shadow: 0px 4px 10px rgba(15, 17, 88, 0.50);
    font-style: normal;
    font-weight: 400;
    margin-left: 10px;
    line-height: normal;
}

.news {
    display: flex;
    gap: 10px;
    width: 600px;
    align-items: center;
    border-radius: 25px;
    background: #EEE;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}

.news:hover {
    border: 1px solid #FA0000;

}

.newsDate {
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    font-family: 14px;
}

.newsDate-date {
    margin-right: 15px;
    /* border: 1px solid black; */
    padding: 5px;
    background: #606061;
    color: white;
    border-radius: 5px;
}

.newsDate-date:hover {
    background-color: #9ec8e9;
}

.headingNews {
    margin-bottom: 5px;
    width: 100%;
}

.headingNews-h {
    font-size: 18px;
    margin-top: 5px;
}

.headingNews-p {
    font-size: 12px;
    padding: 0px 15px 0px 5px;
    word-break: break-all;
}

.newsDate-name {
    font-style: italic;
}

.viewAllBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.viewAllBtn button {
    width: 300px;
    height: 64px;
    margin-top: 30px;
    flex-shrink: 0;
    color: #ffffff;
    border-radius: 10px;
    background: #0F1158;
    box-shadow: 0px 4px 20px 5px rgba(52, 143, 214, 0.50);
}

.NewsCard {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    justify-content: center;
    /* grid-template-columns: auto auto; */
    flex-wrap: wrap;

}

.cardIcons {
    gap: 40px;
}

.latesText {
    display: flex;
    justify-content: center;
}

/* Media query for mobile screens */
@media (max-width: 1040px) {
    .css-i4bv87-MuiSvgIcon-root {
        margin-top: 5px;
    }

    .UniversityCards {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 60px;
        flex-wrap: wrap;

    }

    .heroImg p {
        top: 165px;
        left: 53px;
    }

    .heroImg img {
        max-width: 90%;
        max-height: 100%;
        cursor: pointer;
        margin-top: 190px;
    }

    .news {
        width: 500px;
    }

    .NewsCard {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
    }
}

.card {
    width: 60%;
    max-width: 220px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: left;
    font-size: 14px;
}

.newsImg img {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 30px;
}

@media (max-width: 1023px) {
    .css-i4bv87-MuiSvgIcon-root {
        height: 25px !important;
        margin-bottom: 3px !important;
        width: 20px !important;
        border-radius: 0px 5px 5px 0px;
    }
}

@media (max-width: 780px) {

    .card {
        width: 70%;
        max-width: none;
        height: 250px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: left;
    }
    .navButtons button {
        width: 155px;
        font-size: 20px;
    }

    .NewsCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;

    }

    .card:hover {
        animation: none;
        /* Remove hover animation on mobile */
    }

    .heroText h4 {

        padding-left: 10px;

    }

    .cardArea {
        gap: 20px;
    }

    .cardText h4 {
        /* font-size: 16px; */
        margin-top: 10px;
    }

    .cardIcons {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .cardLocation,
    .cardStar p {
        font-size: 12px;
    }

    .heroBox {
        max-width: 92%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .heroImg p {
        top: 190px;
        left: 10px;
    }

    .cardIcons {
        gap: 40px;
    }

    .UniversityCard {
        width: 230px;
    }
}

@media (max-width: 760px) {
    .cardArea {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .heroImg p {
        top: 165px;
        left: 10px;
    }

    .UniversityCards {
        display: flex;
        /* grid-template-columns: auto auto; */
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
    }

    .NewsCard {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        width: 100%;
    }

    .heroText h4 {
        font-size: 26px;
    }

    .latesText h4 {
        font-size: 32px;
    }

    .news {
        flex-direction: column;
        width: 290px;
    }

    .newsDate h4 {
        font-size: 15px;
        padding-left: 10px;
    }

    .NewsCard {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        width: 100%;
        margin-top: 70px;
    }

    .newImg {
        width: 100%;
        text-align: center;
    }

    .newsImg img {
        width: 265px;
        height: 171px;
    }

    .headingNews {
        padding: 10px;
    }

    /* .UniversityCards {
        gap: 10px;
    } */

    .UniversityCard {
        width: 190px;
    }
    .card {
        width: 200px !important;
        height: 210px !important;
    }

    .cardText h4 {
        font-size: 16px;
        margin-top: -1px;
        margin-bottom: 4px;
    }
}

@media (max-width: 490px) {
    .cardImg img {
        height: 100px;
        margin-top: 20px;
    }
    .banner img {
        padding-bottom: 10px;
    }

    .card {
        width: 208px !important;
        height: 244px !important;
        margin-top: 70px;
    }



    .cardArea {
        gap: 6px;
    }

    .cardText h4 {

        margin-top: 0px;
    }

    .cardIcons {
        justify-content: flex-start;
        margin-top: -3px;
    }
     
    .latesText h4 {
        font-size: 26px;
    }
}

@media (max-width: 390px) {
    .navIcons {
        /* display: none; */
        font-size: 10px;
        margin-top: -34px;
    }

    .UniversityCard {
        width: 151px;
    }

    .cardArea {

        grid-template-columns: auto;
    }

    .latesText h4 {
        font-size: 26px;
    }
}

:where(.ReactFlipCard__flipCardFront) {
    position: static !important;
}

:where(.ReactFlipCard__flipCardBack) {
    position: static !important;
}