* {
  margin: 0;
  padding: 0;

}


.loginDiv{
 background-image:url( '../../../public/Images/LogInBackGround.jpg');
  width: 100vw;
  height: 100vh;
}
.mainContent {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  height: 100vh;
}
.leftDiv{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
  padding-left: 45px;
  position: relative;
}
.leftImg {
  display: flex;
  /* height: 300px; */
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 78px;
}

.leftDiv h1{
width: 100%;
max-width: 350px;
}
.leftDiv h3{
  width: 100%;
max-width: 500px;
}
.heading{
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: white;
  padding-left: 25px;
}
.rightDiv{
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.LogIninputs {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  height: 536px;
  gap: 42px;
  border-radius: 30px;
  background: #FFF;
  /* box-shadow: -5px 10px 10px 2px rgba(152, 121, 18, 0.50); */
}
.LogIninputs input{
  width: 100%;
  max-width: 400px;
height: 50px;
padding-left: 10px;
border: none;
outline: none;
flex-shrink: 0;
border-radius: 15px;
background: #D9D9D9;
}
.LogIninputs p {
  color: black;
  width: 100%;
  font-size: 15px;
  max-width: 350px;
}
.LogIninputs span{
  color: blue;
}
.LogIninputs h6{
  color: black;
}
.LogIninputs button{
  width: 100%;
  max-width: 300px;
height: 48px;
border: none;
flex-shrink: 0;
border-radius: 10px;
background: rgba(152, 121, 18, 0.80);
}

@media only screen and (max-width:768px){
  .LogIninputs button {
    width: 100%;
    max-width: 258px;
    height: 40px;
   
  }
  .LogIninputs {
    width: 100%;
    max-width: 398px;
    
}
.rightDiv {
  height: 89%;
  display: flex;
  width: 92%;
  
}
.LogIninputs {
  width: 100%;
  max-width: 362px;
  padding: 10px;
  height: 418px;
}
.LogIninputs p {
  color: black;
  width: 100%;
  font-size: 12px;
  max-width: 292px;
}
.leftImg {
 
  width: 300px;
  bottom: 78px;
}
.leftImg img{
  width: 280px;
}
}
@media only screen and (max-width:430px){
  .heading{
    display: none;
  }
  .leftImg {
    width: 244px;
    margin-bottom: -75px;
    text-align: center;
    display: flex;
    bottom: 78px;
    margin-left: -124px;
    justify-content: center;
}
.mainContent {
  gap: 0px;
}
.rightDiv {
  
  width: 100%;
  margin: 12px;
}
.mainContent {
  
  flex-direction: column;
  height: 100vh;
}
.LogIninputs {
  width: 100%;
  max-width: 362px;
  padding: 10px;
  height: 394px;
}
.leftImg {
  width: 244px;
  margin-bottom: -147px;
  margin-left: 41px;
}
.leftImg img {
  width: 237px;
}
.LogIninputs {
  width: 100%;
  max-width: 292px;
  border-radius: 13px;
}
.LogIninputs {
  
  margin-right: 10px;
}
}