body{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.navButtons button {
  color: #fff;
  /* font-family: Work Sans; */
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 180px;
  height: 24px;
  background: transparent;
  border: none;
  outline: none;
}