.topBox {
  border-radius: 20px;
  width: 95%;
  /* height: 400px; */
  margin: auto;
  background: rgba(52, 143, 214, 0.03);
  box-shadow: 0px 4px 18px 0px rgba(52, 143, 214, 0.25);
}

.box-Heading-1 {
  color: #3aa6a7;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.box-Heading-2 {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.ResultFilter-box {
  padding-right: 22px;
}

.box-content {
  padding: 10px 20px 0px 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  word-break: break-all;
}

.result-NavLink {
  font-style: normal;
  /* font-weight: bold; */
  line-height: normal;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  color: #2b92f1;
}

.result-btn {
  padding-bottom: 20px;
}

.result-top-filters {
  /* padding: 20px; */
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.result-degree{
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
.filterNames{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}
.Search-filter{
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
}
.result-applied{
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 200px;
}
.result-b-com {
  display: flex;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px 8px;
  padding: 0px 8px;
  height: 27px;
  width: 120px !important;
}
.css-i4bv87-MuiSvgIcon-root {
  
  font-size: 1.2rem;
}
.ResultFilter-box{
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background: #FAF8F8;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  /* margin-left: 100px; */
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding:5px;
  margin-bottom: 20px;
}

.result-search{
  color: rgba(0, 0, 0, 0.66);
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  background: #FAF8F8;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25) inset;
}

.result-checkbox{
  width: 25px;
  height: 18px;

}

.result-checkbox-label{
  color: #000;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 10px;

}

.filter-content-box{
  display: flex;
  width: 100%;
  padding:40px;
}
.result-filter-side-box{
  width: 100%;
  max-width:1300px;
  border-radius: 30px;
  background: rgba(52, 143, 214, 0.05);
  box-shadow: 0px 3px 5px 0px rgba(160, 160, 160, 0.5) inset;
  margin-left: 20px;
  padding:20px;
  
}

.side-result-box{
  display: flex;
  width: 100%;
margin-top: 20px;
border-radius: 30px;
background: #FFF;
box-shadow: 0px 2px 8px 0px rgba(52, 143, 214, 0.70);
justify-content:space-between ;
padding:15px;
}

.side-result-box-img img{
  width: 100px;
  height: 100px;
  margin: 20px;
}

.side-result-box-content-p1{
  color: rgba(0, 0, 0, 0.80);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px
}
.side-result-box-content-p2{
  color: rgba(0, 0, 0, 0.80);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px
}

.side-result-box-content address{
  color: rgba(0, 0, 0, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -10px;
}

.side-result-box-button-1{
  color: rgb(104,105,150);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 30px ;
  border-radius: 15px;
  background: transparent;
  margin: 10px 0px;
  border: 0.5px solid rgb(104,105,150);
  letter-spacing: 1px;
}
.side-result-box-button-2{
  color: rgb(104,105,150);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 15px;
  background: transparent;
  border: 0.5px solid rgb(104,105,150);
  margin-bottom: 10px;
}

.side-result-box-NavLink{
  color: rgb(104,105,150);
  text-decoration: none;
  font-size: 11px;
  /* margin: 10px 0px 0px 0px; */
}

.result-down-box{
  background: #7FB8E5;
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 8px 0px rgba(52, 143, 214, 0.70);
  padding:15px;
  /* display: flex; */
  
}
.result-down-box h2{
  color: #444444;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}
.result-quick-filter{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.result-down-box-p1{
  color: #444444;
  border-radius: 50px;
  font-size: 18px;
  background: #FFF;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 15px;
}
.result-down-box-p2{
  color: #444444;
  text-align: center;
  border-radius: 50px;
  background: #FFF;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  padding: 15px;
}
.result-down-box-p3{
  text-align: center;
  color: #444444;
  border-radius: 50px;
  background: #FFF;
  width: 100%;
  max-width: 400px;
  font-size: 18px;
  padding: 15px;
}

.result-down-box-bottom-line{
  width: 30%;
  height: 10px;
  border-radius: 10px;
  background: #4b4a4a;
  margin: 8px;
}
.ResultFilter-box {
  padding-right: 15px;
}
.result-filter-card-box{
  /* justify-content: center; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.hideBox2 {
  display: none;
}

.side-result-box-img img {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
}

.result-search {
  
  width: 95%;}
@media only screen and (max-width: 1024px) {
  .result-filter-side-box{
    width: 100%;
    max-width:700px;
  }
  .result-filter-card-box{
    /* justify-content: center; */
    display: grid;
    grid-template-columns: auto auto ;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.98px){
  .result-filter-side-box{
    width: 100%;
    max-width:700px;
  }
  .side-result-box-content-p1{
    font-size: 14px;
  }
  .side-result-box-content-p2{
    font-size: 13px;
  }
  .result-quick-filter{
    display: flex;
    flex-direction: column;
  }
  .result-filter-card-box{
    display: grid;
    grid-template-columns: auto auto;
    /* margin: 20px 0px; */
  }
  .result-filter-side-box {
    width: 65%;
    max-width: 700px;
  }
  .result-top-filters {
  
    justify-content: center;
    
}
.filterNames {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}
  .result-down-box-bottom-line{
    width: 45%;
  }
  .side-result-box-button-2{
    padding: 10px 15px;
   
  }
 
  
}
/* @media only screen and (max-width: 1100px) {
  .side-result-box {
    display: flex;
    width: 98%;
  }
    .result-filter-side-box {
      width: 90%;
    }
} */
@media only screen and (max-width: 767.98px) {
  .box-Heading-1 {
    font-size: 40px;
  }
  .result-applied {
    padding-left: 2px;
  }
  .filterNames {
    display: flex;
    justify-content: space-between;
    gap: 9px;
  }
  .box-Heading-2 {
    font-size: 25px;
  }
  .result-down-box-bottom-line{
    width: 70%;
  }
  .hideBox {
    display: none !important;
  }


  
  .result-filter-card-box{
    display: grid;
    grid-template-columns: auto;
    /* margin: 20px 0px; */
  }

  .result-filter-side-box {
    padding: 20px;

    margin-top: 35px;
}

  .filter-content-box {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0px;
  }

  .result-quick-filter{
    display: block;
  }
  .side-result-box{
    display: block;
  }
  .side-result-box-img img{
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  .side-result-box-button{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .side-result-box-button-1{
    padding: 15px 30px;
    margin: 10px 0px;
    /* background: #2b92f1; */
  }
  .side-result-box-button-2{
    padding: 10px 15px;
   
  }
  .side-result-box-NavLink{
    color: rgb(104,105,150);
    text-decoration: none;
    font-size: 11px;
  }
}
@media only screen and (max-width: 768px) {
  .result-search {
    width: 98%;
  }
}

@media only screen and (max-width: 468px) {
  .hideBox2 {
    display: block;
    margin-top: -30px;
    font-size: 20px;
    -webkit-text-decoration: bold;
    text-decoration: bold;
    color: rgb(255, 4, 0);
    position: absolute;
    top:-3px;
    left: 20px;
}
}
@media only screen and (max-width: 350.98px) {
  .filter-content-box {
   
    justify-content: center;
}
.result-search {
  width: 98%;
}
}








