body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;

}
.videosDiv{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
.videosDiv img{
    width: 60%;
}